#headerPage {
  border-bottom: 2px solid;
  padding: 10px 10px 35px 10px;
  text-align: center;
}

#pageHeaderLogo {
  float:left;
}

#pageHeaderTitle {
  display: inline-block;
}

#pageHeaderUserIcon {
  float: right;
}
