@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

#landingPage {
  padding-top: 10rem;
  text-align:center;
}

#loginButton {
  float: left;
  margin: 1rem;
  font-family: 'Raleway', impact;
}

#registerButton {
  float: right;
  margin: 1rem;
  font-family: 'Raleway', impact;
}

#loginButtonGuest {
  width: 100%;
  font-family: 'Raleway', impact;
}

#userNameBox {
  margin: 1rem 0 1rem 0;
}

#skedgeLogo {
  padding-bottom: 2rem;
  font-size: 40px;
  font-family: 'Lobster', impact, fantasy, monospace;
  font-weight: bold;
}

#errorMessage {
  color: red;
}
