#hamburgerButton:hover {
  cursor: pointer;
}

#courseListOfSequence {
  display: inline-block;
}

#scheduleGrid {
  margin-top: 0;
  height: 100vh;
}

#sidebarFullPage {
  min-height: 100vh;
  padding: 0.2rem !important;
}

#scheduleGridRow {
  padding: 0.2rem !important;
}

#dropdownCourses {
  width: 100%;
}

.pusher {
  padding: 1rem;
}
