.semesterObject {
  background-color: LightSkyBlue;
  border-style: solid;
  border-color: lavender;
  border-width: 1px;
  border-radius: 5px;
}

#button1, #button2{
  background-color: plum;
}

.semesterObject {
  padding: 10px;
}
