#welcome-title {
  text-align: center;
}

h5 {
  text-align: center;
}

#outer {
    width: 60%;
    height: 600px;
    margin: auto;
    padding: 10px;
    border-color: grey;
    border-width: 3px;
    border-style:dotted;
    border-radius: 20px;
}

#recordCcoursesDropdown, #wantedCoursesDropdown {
   width: 60%;
   height: 200px;
   border-color: salmon;
   border-width: 3px;
   border-style: solid;
   border-radius: 20px;
}



.dropdown{
  float: left;
  width: 65%;
}
