body{
    background-color: lavender;
}

.welcome-title {
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

h5 {
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

.outer {
    width: 1050px;
    height: 560px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.formDiv {
    width: 100%;
    height: 420px;
    float: left;
    display: flex;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#recordCcoursesDropdown {
   width: 350px;
   height: 100%;
   flex: 3;
   border-width: 1px;
   border-color: black;
   border-style: solid;
}

#wantedCoursesDropdown {
  width: 350px;
  height: 100%;
  flex: 3;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}


#recordCourses {
   width: 350px;
   height: 300px;
   overflow-y:auto;
   float: left;
   border-width: 1px;
   border-color: black;
   border-style: solid;
}

 #wantedCourses {
   width: 350px;
   height: 300px;
   overflow-y:auto;
   float: right;
   border-width: 1px;
   border-color: black;
   border-style: solid;
}

#semestersObject{
  width: 350px;
  height: 100%;
  overflow-y:auto;
  flex: 3;
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

#goToScheduleBuilder {
  margin: 0 auto;
  background-color: plum;
}

#button1, #button2{
  background-color: plum;
}

.dropdown{
  float: left;
  width: 65%;
}
