@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

body{
    background-color: lavender;
}

.welcome-title {
  text-align: center;
  display: inline;
  font-family: 'Raleway', sans-serif;
}

.skedge {
  font-family: 'Lobster', sans-serif;
  display: inline;
}

h5 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.outer {
    width: 1050px;
    height: 560px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#recordCcoursesDropdown {
   width: 350px;
   height: 100%;
}

#wantedCoursesDropdown {
  width: 350px;
  height: 100%;
}

.record{

}

#recordCourses {
   width: 350px;
   height: 300px;
   overflow-y:auto;
   float: left;
}

 #wantedCourses {
   width: 350px;
   height: 300px;
   overflow-y:auto;
   float: right;
}

#semestersObject{
  width: 350px;
  height: 100%;
  overflow-y:auto;
  flex: 3;
}

#goToScheduleBuilder {
  margin: 0 auto;
  background-color: plum;
  font-family: 'Raleway', sans-serif;

}

#button1, #button2{
  background-color: plum;
  font-family: 'Raleway', sans-serif;

}

.dropdown{
  float: left;
  width: 65%;
}
