
  .myCourses {
    margin-left: 5px;
  }
  
  .timetable {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px repeat(5, 150px);
    grid-template-rows: repeat(28, 50px);   
    
  }
  p {
    margin: 0;
    padding: 0;
  }
  
  .tableElement {
    text-align:center;
    border-radius: 5px; 
    color:white;
    background-color:rgb(89, 98, 224);
  }

  .titleWrapper {
    display: grid;
    grid-column: 1 / 7;
    grid-gap: 10px;
    grid-template-columns: 50px repeat(5, 150px);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    justify-items: center;
  }
  
  .timeWrapper {
    display: grid;
    grid-row: 2 / 30;
    grid-gap: 10px;
    grid-template-rows: repeat(20, 50px);
  }
  .timeWrapper div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .timeWrapper div:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .timeWrapper div:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .timeWrapper div:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .timeWrapper div:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .timeWrapper div:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .timeWrapper div:nth-of-type(7) {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  .timeWrapper div:nth-of-type(8) {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .timeWrapper div:nth-of-type(9) {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }
  .timeWrapper div:nth-of-type(10) {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
  }
  .timeWrapper div:nth-of-type(11) {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
  }
  .timeWrapper div:nth-of-type(12) {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
  }
  .timeWrapper div:nth-of-type(13) {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
  }
  .timeWrapper div:nth-of-type(14) {
    grid-column: 1 / 2;
    grid-row: 14 / 15;
  }
  .timeWrapper div:nth-of-type(15) {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
  }
  .timeWrapper div:nth-of-type(16) {
    grid-column: 1 / 2;
    grid-row: 16 / 17;
  }
  .timeWrapper div:nth-of-type(17) {
    grid-column: 1 / 2;
    grid-row: 17 / 18;
  }
  .timeWrapper div:nth-of-type(18) {
    grid-column: 1 / 2;
    grid-row: 18 / 19;
  }
  .timeWrapper div:nth-of-type(19) {
    grid-column: 1 / 2;
    grid-row: 19 / 20;
  }
  .timeWrapper div:nth-of-type(20) {
    grid-column: 1 / 2;
    grid-row: 20 / 21;
  }
  .timeWrapper div:nth-of-type(21) {
    grid-column: 1 / 2;
    grid-row: 21 / 22;
  }
  .timeWrapper div:nth-of-type(22) {
    grid-column: 1 / 2;
    grid-row: 22 / 23;
  }
  .timeWrapper div:nth-of-type(23) {
    grid-column: 1 / 2;
    grid-row: 23 / 24;
  }
  .timeWrapper div:nth-of-type(24) {
    grid-column: 1 / 2;
    grid-row: 24 / 25;
  }
  .timeWrapper div:nth-of-type(25) {
    grid-column: 1 / 2;
    grid-row: 25 / 26;
  }
  .timeWrapper div:nth-of-type(26) {
    grid-column: 1 / 2;
    grid-row: 26 / 27;
  }
  .timeWrapper div:nth-of-type(27) {
    grid-column: 1 / 2;
    grid-row: 27 / 28;
  }
  .timeWrapper div:nth-of-type(28) {
    grid-column: 1 / 2;
    grid-row: 28 / 29;
  }
  .timeWrapper div:nth-of-type(29) {
    grid-column: 1 / 2;
    grid-row: 29 / 30;
  }
  
  
  .timeColumn {
    grid-column: 1 / 2;
  }
  
  .monday {
    grid-column: 2 / 3;
  }
  
  .tuesday {
    grid-column: 3 / 4;
  }
  
  .wednesday {
    grid-column: 4 / 5;
  }
  
  .thursday {
    grid-column: 5 / 6;
  }
  
  .friday {
    grid-column: 6 / 7;
  }
  
  /* start times */

  .eightOclock {
      grid-row-start: 2;

  }
  .eightThirty {    
    grid-row-start: 3; 
  }
  
  .nineOclock {
    grid-row-start: 4; 
  }
  
  .nineThirty {
      grid-row-start: 5; 

  } 
  .tenOclock {
      grid-row-start: 6;

  }
  
  .tenThirty {
        grid-row-start: 7;

  }
  
  .elevenOclock {    grid-row-start: 8;

  }
  
  .elevenThirty {    grid-row-start: 9;

  }
  
  .twelveOclock {    grid-row-start: 10;

  }
  
  .twelveThirty {    grid-row-start: 11;

  }
  
  .oneOclock {    grid-row-start: 12;

  }
  
  .oneThirty {    grid-row-start: 13;

  }
  
  .twoOclock {    grid-row-start: 14;

  }
  
  .twoThirty {    grid-row-start: 15;

  }
  
  .threeOclock {    grid-row-start: 16;

  }
  
  .threeThirty {    grid-row-start: 17;

  }
  
  .fourOclock {    grid-row-start: 18;

  }
  
  .fourThirty {    grid-row-start: 19;

  }
  
  .fiveOclock {
    grid-row-start: 20;
  }
  
  .fiveThirty {
    grid-row-start: 21;
  }
  .sixOclock {
    grid-row-start: 22;
  }
  .sixThirty {
    grid-row-start: 23;
  }
  .sevenOclock {
    grid-row-start: 24;
  }
  .sevenThirty {
    grid-row-start: 25;
  }
  .eightOclockPM {
    grid-row-start:26;
  }
  .eightThirtyPM {
    grid-row-start:27;
  }
  .nineOclockPM {
    grid-row-start: 28;
  }
  .nineThirtyPM {
    grid-row-start:29;
  }
  /* end times */
  
  .endNineThirty {
    grid-row-end: 5; 
  }
  
  .endTenOclock {
    grid-row-end: 6; 
  }
  
  .endtenThirty {
    grid-row-end: 7;
  }
  
  .endElevenOclock {
    grid-row-end: 8;
  }
  
  .endelevenThirty {
    grid-row-end: 9;
  }
  
  .endTwelveOclock {
    grid-row-end: 10;
  }
  
  .endtwelveThirty {
    grid-row-end: 11;
  }
  
  .endOneOclock {
    grid-row-end: 12;
  }
  
  .endoneThirty {
    grid-row-end: 13;
  }
  
  .endTwoOclock {
    grid-row-end: 14;
  }
  
  .endtwoThirty {
    grid-row-end: 15;
  }
  
  .endThreeOclock {
    grid-row-end: 16;
  }
  
  .endthreeThirty {
    grid-row-end: 17;
  }
  
  .endFourOclock {
    grid-row-end: 18;
  }
  
  .endfourThirty {
    grid-row-end: 19;
  }
  
  .endFiveOclock {
    grid-row-end: 20;
  }
  
  .endfiveThirty {
    grid-row-end: 21;
  }
  
  .endSixOclock {
    grid-row-end: 22;
  }

  .endsixThirty{
    grid-row-end:23;
  }
  .endSevenOclock{
grid-row-end:24;
  }
  .endsevenThirty{
    grid-row-end:25;
  }
  .endEightOclockPM{
    grid-row-end:26;
  }
  .endeightThirtyPM{
    grid-row-end:27;
  }
  .endNineOclockPM{
    grid-row-end:28;
  }
  .endnineThirtyPM{
    grid-row-end:29;
  }
  .endTenOclockPM{
    grid-row-end:30;
  }